PYPI_TOKEN=pypi-abc
WEBHOOK_SLACK==https://hooks.slack.com/services/ABC/DEF/GHIJKLMNOP
PY_SLACK_NOTIFI={"alerts": "https://hooks.slack.com/services/ALERTS/WEBHOOK", "general": "https://hooks.slack.com/services/GENERAL/WEBHOOK"}